<div class="card mb-3 mr-1" style="width: 14rem;">
  <div class="card-img-wrapper">
    <img src="{{listing.listingPhotoUrl || '../../../assets/noImage.jpg'}}" alt="{{listing.category}}" class="card-img-top link" [routerLink]="['/listings', listing.id]">
    <ul class="list-inline listing-icons animate text-center">
      
      <li *ngIf="!myListing" class="list-inline-item"><button class="btn btn-primary" (click)="watchListing(listing.id)"><i [ngClass]="{'fa': true, 'fa-clock-o': !listing.watching, 'fa-check': listing.watching}"></i></button></li>
    </ul>
  </div>
  <div class="card-body p-1">
    <h6 class="text-center mb-1"><i class="fa fa-usd"></i>
      <b>{{listing.price}}</b>
    </h6>
    <p class="card-title card-text text-muted text-center link"  [routerLink]="['/listings', listing.id]">{{listing.title}}</p>
    <p class="card-text text-muted text-center">{{listing.category}}</p>
  </div>
</div>
