<div class="container mt-4">
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <div class="ml-3 mt-3 mb-3">
          <img
            class="card-img-top img-thumbnail avatar"
            src="{{ account.avatarUrl || '../../../assets/user.png'}}"
            alt="{{ account.id }}"/>
          <button id="changeAvatar" class="btn-s btn-secondary"
          (click)="changeAvatar()" [routerLink]="['/account/edit']">
            Change
          </button>
        </div>
        <div class="card-body">
          <div>
            <p>
              <strong>{{ account.username }}</strong>
            </p>
          </div>
          <div>
            <strong>Joined:</strong>
            <p>{{ account.createdDate | date}}</p>
          </div>
          <div>
            <strong>Last Active:</strong>
            <p>{{ account.lastActiveDate | timeAgo}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="tab-panel">
        <tabset class="member-tabset">
          <tab heading="My Details">
            <button id="editDetails" class="btn btn-primary w-10" [routerLink]="['/account/edit']">Edit Details</button>
          <h4>Details</h4>
          <strong>Name:</strong>
          <p>{{ account.firstname }} {{ account.lastname }}</p>
          <strong>Gender:</strong>
          <p>{{ account.gender }}</p>
          <strong>Date of birth:</strong>
          <p>{{ account.dateOfBirth | date: 'dd/MM/y'}}</p>
          <strong>Contact Details:</strong>
          <p> {{ account.email }}</p>
          <p> {{ account.phone }}</p>
          <p>{{ account.physicalAddress?.addressLine1 }}, {{ account.physicalAddress?.city }}, {{ account.physicalAddress?.country }} {{ account.physicalAddress?.zipCode }}</p>
          </tab>
          <tab heading="My Settings">
            <h4>Settings</h4>
            <p>Settings Go here</p>
          </tab>
          <tab heading="Notification Settings">
            <h4>Notifications</h4>
            <p>Notifications go here</p>
          </tab>
          <tab heading="My Feedback">
            <h4>FeedBack</h4>
            <p>FeedBacks posted here</p>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>
